<h1>BookWorm Facts</h1>

<h3>Overview</h3>
<p>BookWorm is your very own online library. With BookWorm you will be able to keep track of all your books but most of all be social with all of your friends. You will be able to add all of your books to your library and rate and comment on any of them.</p>

<h3>Social Environment</h3>
<p>You can follow everyone you know and see what their opinions are of the books they have read. You will be able to see everyone's ratings as well as any comments they have made. There are special book groups where you can see anyone's opinion who is part of the group.<p>

<h3>Behind the Scenes</h3>
<p>BookWorm is written with ruby on rails. It uses multiple gems and api's to achomplish certain tasks. Much of the layout of pages is done using Bootstrap. BookWorm uses the Good Reads API to recognize all of your books and place them in your library<p>

<p>Find me in app/views/static_pages/about.html.erb</p>
