body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-center {
	margin: 0 auto;
}

footer {
    margin: 50px 0;
}

