<footer class="footer">
  <small>
    Copyright &copy  <%= Time.new.year %> BookWorm Team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </nav>
</footer>
